################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Spammer.Tests/obj
/Spammer.Tests/bin/Debug/netcoreapp2.0
/.vs/Spammer/v15
