<h1>Manage your subscription</h1>

<p *ngIf="!topics">Loading...</p>

<div class="input-group">
    <input name="email" type="email" class="form-control" [(ngModel)]="mail" placeholder="Enter your mail...">

    <span class="input-group-btn">
        <button class="btn btn-default" style="width: 100px;" type="button" (click)="load()">Load</button>
        <button class="btn btn-primary" style="width: 100px;" type="button" (click)="submit()" [disabled]="!loaded">Submit</button>
        <button class="btn btn-danger" style="width: 100px;" type="button" (click)="unsubscribe()" [disabled]="!loaded">Unsubscribe</button>
    </span>
</div>

<div class="panel panel-default" style="margin-top: 20px;" *ngIf="loaded">
    <div class="panel-heading">Topics</div>
    <div class="panel-body">
        <div class="checkbox" *ngFor="let topic of topics">
            <label><input type="checkbox" [(ngModel)]="topic.selected"> {{ topic.description }}</label>
        </div>
    </div>
</div>